


<div>

    <!--Header Content-->

    <header>

        <md-toolbar md-scroll-shrink ng-if="true">
            <div class="md-toolbar-tools">
                <i class="mdi mdi-account"> </i>
                <!--<md-icon md-svg-icon="./images/logo.png"></md-icon>-->
                <h3>
                    <span>Sale's Man</span>
                </h3>
            </div>
        </md-toolbar>

    </header>



    <!--Body Content-->

    <article>

        <div layout="row" layout-align="center center">
            <h1 class="md-display-4">404 - Not found</h1>
        </div>

    </article>


    <!--Footer Content -->

    <footer>

    </footer>

</div>